:root {
}



.text {
    color: rgb(209, 209, 209);
    font-size: 80px;
    -unity-font-definition: resource("Fonts/Courier Prime");
    align-self: stretch;
    justify-content: flex-start;
    bottom: auto;
    right: auto;
    left: auto;
    top: auto;
    -unity-text-align: upper-center;
    margin-top: 500px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
